<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>648628517682-of077hkaoba3maaicl1331qdgnj5b0me.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648628517682-of077hkaoba3maaicl1331qdgnj5b0me</string>
	<key>API_KEY</key>
	<string>AIzaSyDLCOl_YBn0_Bm3_nRJ7xy8mL_L-DssmHk</string>
	<key>GCM_SENDER_ID</key>
	<string>648628517682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manish.newsmash</string>
	<key>PROJECT_ID</key>
	<string>newsmash-b1017</string>
	<key>STORAGE_BUCKET</key>
	<string>newsmash-b1017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648628517682:ios:7abcfe5413938038</string>
	<key>DATABASE_URL</key>
	<string>https://newsmash-b1017.firebaseio.com</string>
</dict>
</plist>